html {
    body{background-color: #010D1A;}
    h3{color: #F2F2F2; text-align: center;}
    .btn-box{
      
      background-color: #171C20;
      padding: 7px 20px;
      margin: 2px;
      border-color:#959078 ;
      color: #959078;
      text-align: center;
      font-weight: bold;
      font-size: 17px;
      
      display: inline-block;
      cursor: pointer;
      filter: drop-shadow(0 0 2px rgba(149,144,120, 0.7));
    }
    .btn-box:hover{
      filter: drop-shadow(0 0 2px rgba(149,144,120, 0.7))
      drop-shadow(0 0 5px rgba(149,144,120, 0.7))
      drop-shadow(0 0 15px rgba(149,144,120, 0.7));
    }
  
    .btn-box:active{
      .ld{
        transform:translate(-50%,-50%);
      }
    }
    .box{
      position: relative;
    }
    .second{
      position: absolute;
      top: 0;left: 250px;
      
    }
    .first{
      position: absolute;
      top: 0;left: 250px;
      
    }
    .btn-box{
      position: absolute;
      top: 470px; left: 400px;
    }
  
    .rd {
      position: absolute;
      top: 70px; left: 315px;
  
     
    }
    .ld{
      position: absolute;
      top: 70px; left: 280px;
    }
    .bd{
      position: absolute;
      top: 70px; left: 255px;
    }
  
    .lock{
      position: absolute;
      top: 0px; left: 252px;
    }
  
    
    height: 100%;
    width: 100%;
}